BOT_TOKEN=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
WEBHOOK_PATH=
SHOP_SECRET_KEY=
SHOP_ID=
REDIS_PASS=
CELERY_BROKER_USER=
CELERY_BROKER_HOST=
CELERY_BROKER_PORT=
CELERY_BROKER_PASSWORD=
CELERY_BROKER_VHOST=
DEBUG=
TELEGRAM_SECRET_TOKEN=
QUEUE_NAME=